.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    cursor: auto;
}

.imageContainer {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: auto;
}

.modalImage {
    max-width: 100%;
    max-height: 90vh;
    border-radius: 8px;
    object-fit: cover;
}

.infoOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    text-align: left;
}

.infoOverlay p {
    margin: 0;
    font-size: 16px;
}