.loadMoreButton {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.loadMoreButton:hover {
    background-color: #264dcc;
}